
<div class="jumbotron">
  <h1>All songs and artists <small>submitted by users!</small></h1>
</div>

<div class="container">
<% @songs.each do |song| %>
  <div class="well"> 
      <!-- -->
    <h3>Title: <a href="songs/<%= song.id %>"><%= song.title %><small></a> (artist: <%= song.author %>)(added by: <%=get_user_name(song) %>)</small></h3>
    <% if current_user && !current_user.has_already_upvoted?(song) %>
      <form method="post" action="/upvote">
        <div>
          <input type="hidden" name="song_id" value="<%= song.id %>">
          <input type="submit" class="btn btn-default" value="Upvote!">
        </div>
      </form>
    <% else %>
      <p>Upvotes: <%= song.upvotes.count %></p> 
    <% end %>
  </div>
<% end %>
</div>


<div class="container">
  <!--#checks if current_user method returns a value which indicates the current user is logged in # -->
  <% if current_user %>
    <div>
      <button type="button" class="btn btn-primary"><a href="/songs/new">Post a new song!</a></button>
    </div>
    <div>
      <form method="post" action="/logout"> 
        <button type="submit" class="btn btn-primary" name="submit">Logout</button>
      </form>
    </div>  
  <% else %>
    <a href="/users/login"><button type="button" class="btn btn-primary">Click here to login</button></a>
    <a href="/users/new"><button type="button" class="btn btn-primary">Sign up for an account to upvote and submit songs</button></a>
  <% end %>
</div>


