
<div class="container">
<h1><%= @song.title %></h1>
  <p>
    Artist: <%= @song.author %>
  </p>
  <p>
    <a href="/songs_by?author=<%= @song.author %>">Show all songs by this artist</a>
  </p>
  <p>
    Visit them on the web: <a href="<%= @song.url %>"><%= @song.url %></a>
  </p>
  <p>
    Created at: <%= @song.created_at %>
  </p>
  <p>
    Updated at: <%= @song.updated_at %>
  </p>
</div>

<div>
  <!-- Uses helper method to match review id with user_id -->
  <% Review.where(song_id: @song.id).find_each do |review| %>
    <h5>Review by: <%= get_user_name(review) %> posted on <%= review.created_at %></h5>
    <h4><%= review.review %></h4>
  <% end %>
  <% if !current_user %>
    <p>Want to leave a review? Login below!</p>
    <a href="/users/login"><button type="button" class="btn btn-primary">Click here to login</button></a>
    <a href="/users/new"><button type="button" class="btn btn-primary">Sign up for an account to upvote, submit songs, and review songs</button></a>
  <% end %>
</div>

<hr/>
<a href="/songs">Back to all songs</a>

<div>
  <% if current_user && !current_user.has_already_reviewed?(@song) %>
    <div class="container">
      <form method="post" action="/review">
        <div>
          <label>What's your review?: </label>
          <input type="hidden" name="song_id" value="<%= @song.id %>">
          <input type="text" class="form-group" name="review" value="<%= @review %>">
        </div>
      </form>
    </div>
  <% end %>
</div>


