
<div class="container">
<h1><%= @song.title %></h1>
  <p>
    Artist: <%= @song.author %>
  </p>
  <p>
    <a href="/songs_by?author=<%= @song.author %>">Show all songs by this artist</a>
  </p>
  <p>
    Visit them on the web: <a href="<%= @song.url %>"><%= @song.url %></a>
  </p>
  <p>
    Created at: <%= @song.created_at %>
  </p>
  <p>
    Updated at: <%= @song.updated_at %>
  </p>
</div>
<hr/>
<a href="/songs">Back to all songs</a>